.spacer {
    flex: 1 1 auto;
}

.bg-blue {
    background-color: #3F51B5;
}

.text-white {
    color: #FFF;
}

.my-2em{
    margin-top: 2em;
    margin-bottom: 2em;
}

.mt-5em{
    margin-top: 15em;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.MuiSelect-outlined.MuiSelect-outlined {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}
